html,
body {
  height: 100%;
}

body {
  @extend %qs-500;
  font-size: 16px;
  line-height: 26px;
  color: #8d8d8d;
  display: flex;
  flex-direction: column;
}

.main {
  flex-grow: 1;
}

.container {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.marcho-btn {
  color: #fff;
  background-color: $accent;
  display: block;
  font-size: 16px;
  @extend %r-400;
  text-transform: uppercase;
  max-width: 160px;
  width: 100%;
  padding: 12px 15px 12px 15px;
  box-shadow: 0px 7px 20px 0px rgba(255, 17, 48, 0.3);
  text-align: center;
}

.heading {
  max-width: 570px;
  text-align: center;
  &__title {
    @extend %r-700;
    font-size: 48px;
    line-height: 1;
    color: $title;
    text-transform: uppercase;
    margin: 0px 0px 15px 0px;
  }
}