@media (max-width: 1435px) {
  .main-silder {
    &__content {
      padding: 120px 0px 0px 100px;
    }
  }
  // ---------------------------------------------
}

@media (max-width: 1370px) {
  .main-silder {
    &__content {
      padding: 70px 0px 0px 100px;
    }
  }
  // ---------------------------------------------
}

@media (max-width: 1250px) {
  .features {
    &__item {
      padding: 40px 20px;
    }
    &::after {
      right: 0px;
    }
  }
  // ---------------------------------------------
  .blog {
    &__row {
      &::after {
        right: 0px;
      }
    }
  }
  // ---------------------------------------------
}

@media (max-width: 1200px) {
  .user-nav {
    padding: 0px 10px 0px 0px;
  }
  // ---------------------------------------------
  .main-silder {
    &__item {
      img {
        max-width: 45%;
      }
    }
    &__content {
      padding: 55px 0px 0px 40px;
    }
    &__title {
      font-size: 50px;
      line-height: 55px;
    }
  }
  // ---------------------------------------------
  .heading {
    &__title {
      font-size: 40px;
    }
  }
  .top-categories {
    &__items {
      grid-template: repeat(2, 1fr) / repeat(2, 1fr);
    }
    &__item {
      &:nth-child(1) {
        grid-row: auto;
        .top-categories__item-subtitle {
          color: #5800e4;
        }
        .top-categories__item-link {
          &:hover {
            color: #5800e4;
            border-bottom: 1px solid #5800e4;
          }
        }
      }
      &:nth-child(2) {
        grid-column: auto;
        padding-top: 0;
        justify-content: center;
        .top-categories__item-subtitle {
          color: $accent;
        }
        .top-categories__item-link {
          &:hover {
            color: $accent;
            border-bottom: 1px solid $accent;
          }
        }
      }
    }
  }
  // ---------------------------------------------
  .video-fashion {
    &__title {
      font-size: 40px;
    }
  }
  // ---------------------------------------------
  .promo {
    background: $bg;
    &__inner {
      margin: 0 auto;
    }
  }
  // ---------------------------------------------
  .blog {
    &__title-box {
      padding: 25px 15px;
    }
  }
  // ---------------------------------------------
  .page-404 {
    &__img {
      max-width: 44%;
    }
  }
  // ---------------------------------------------
  .blog-page {
    &__inner {
      flex-direction: column;
    }
    &__content {
      max-width: none;
    }
    &__aside {
      order: -1;
      margin: 0px 0px 60px 0px;
    }
    .filters {
      max-width: none;
    }
    .filter-category,
    .filter-popular {
      display: none;
    }
  }
  .blog-item {
    &__img,
    &__popup {
      max-width: none;
    }
    &__slider-img {
      img {
        width: 100%;
      }
    }
  }
  .person,
  .latest-post {
    display: none;
  }
  // ---------------------------------------------
  .blog-one {
    &__img {
      max-width: none;
    }
  }
  // ---------------------------------------------
  .product-item {
    &__slider {
      display: flex;
      flex-direction: column-reverse;
    }
    &__content {
      width: auto;
    }
  }
  .product-slider {
    &__small {
      width: auto;
      margin-right: 0px;
    }
    &__big-item {
      padding: 0px 0px 550px 0px;
    }
  }
  .related {
    &__title {
      font-size: 40px;
    }
  }
}

@media (max-width: 1100px) {
  .shop {
    &__show-filters {
      display: block;
    }
    &__inner {
      flex-direction: column;
    }
    &__filters {
      max-width: none;
      margin: 0px 0px 30px 0px;
      display: none;
    }
    &__filters--show {
      display: block;
    }
  }
  .shop-content {
    max-width: none;
    &__inner {
      grid-template-columns: 1fr 1fr 1fr;
    }
    &__item {
      max-width: none;
    }
    .products-item__img-box {
      max-width: none;
    }
  }
  // ---------------------------------------------
  .product-item {
    &__slider {
      margin: 0px 10px 0px 0px;
    }
  }
}

@media (max-width: 1000px) {
  .footer {
    &__top {
      flex-wrap: wrap;
    }
    & .footer__item {
      margin-bottom: 30px;
      &:last-child {
        margin-bottom: 0;
      }
    }
    .subscribe-newsletter {
      max-width: 100%;
      margin-left: 0;
      &__title {
        text-align: center;
      }
    }
  }
  // ---------------------------------------------
  .main-silder {
    &__inner {
      padding: 25px 0 40px;
    }
    &__content {
      padding: 45px 0px 0px 0px;
    }
    &__title {
      font-size: 45px;
      line-height: 48px;
    }
    &__text {
      margin: 0px 0px 35px 0px;
    }
  }
  // ---------------------------------------------
  .features {
    &__item {
      padding: 20px 20px;
      svg {
        margin: 0px 0px 15px 0px;
      }
    }
  }
  .heading {
    &__title {
      font-size: 35px;
    }
  }
  // ---------------------------------------------
  .video-fashion {
    &__popup {
      width: 450px;
      height: 402px;
      margin: 0px 30px 0px 0px;
    }
    &__subtitle {
      font-size: 18px;
      margin: 0px 0px 10px 0px;
    }
    &__title {
      font-size: 35px;
      margin: 0px 0px 20px 0px;
    }
    &__text {
      margin: 0px 0px 30px 0px;
    }
  }
  // ---------------------------------------------
  .promo {
    &__subtitle {
      font-size: 18px;
      margin: 0px 0px 10px 0px;
    }
    &__title {
      font-size: 35px;
    }
  }
  // ---------------------------------------------
  .blog {
    &__title {
      font-size: 18px;
    }
    .blog-info {
      display: block;
    }
  }
  // ---------------------------------------------
  .page-404 {
    &__content {
      max-width: none;
    }
    &__text {
      max-width: none;
    }
    &__img {
      display: none;
    }
  }
  // ---------------------------------------------
  .contacts {
    &__form-row {
      flex-direction: column;
    }
    &__form-email {
      margin-left: 0px;
    }
  }
  // ---------------------------------------------
  .product-item {
    display: block;
    &__slider {
      margin: 0px auto 20px;
      display: block;
    }
  }
  .product-slider {
    &__small {
      display: none;
    }
    &__big {
      width: auto;
    }
    &__big-item {
      padding: 0px 0px 650px 0px;
    }
  }
  .related {
    &__title {
      font-size: 35px;
    }
    &__row {
      grid-template: 1fr / repeat(2, 1fr);
    }
    &__item {
      max-width: none;
      .products-item__img-box {
        max-width: none;
      }
    }
  }
}

@media (max-width: 850px) {
  .blackout {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 4;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s;
    &--active {
      opacity: 1;
      visibility: visible;
    }
  }
  .header {
    .logo {
      margin-left: 30px;
      margin-right: auto;
    }
  }
  .menu {
    order: -1;
    &__list {
      display: flex;
      flex-direction: column;
      align-items: center;
      position: absolute;
      top: 0;
      left: -600px;
      bottom: 0;
      width: 360px;
      background-color: $bg;
      z-index: 5;
      transition: all 0.3s;
      padding: 40px 0 0;
      .logo {
        display: block;
        height: 70px;
      }
    }
    &__list--active {
      .logo {
        margin: 0;
      }
      left: 0px;
    }
    &__item + &__item {
      margin: 0px;
    }
    &__item {
      padding: 10px 0;
    }
  }
  .burger-btn {
    cursor: pointer;
    padding: 9px 0;
    border: none;
    background-color: transparent;
    display: block;
    position: relative;
    z-index: 6;
    span {
      display: block;
      width: 30px;
      height: 2px;
      background-color: $title;
    }
    &::after,
    &::before {
      content: "";
      position: absolute;
      left: 0;
      width: 30px;
      height: 2px;
      background-color: $title;
    }
    &::after {
      bottom: 0;
    }
    &::before {
      top: 0;
    }
  }
  // ---------------------------------------------
  .main-silder {
    &__inner {
      padding: 25px 0 10px;
    }
    &__item {
      img {
        display: none;
      }
    }
    &__content {
      padding: 0px 0px 30px 0px;
    }
    .slick-dots {
      display: flex;
      justify-content: center;
      margin: -4px 0 0 0;
    }
  }
  // ---------------------------------------------
  .top-categories {
    &__items {
      min-height: auto;
    }
    &__item {
      background-image: none !important;
      justify-content: center;
      &:nth-child(1) {
        background-color: #f4dff0;
      }
      &:nth-child(2) {
        padding: 40px;
        background-color: #d7efef;
      }
      &:nth-child(3) {
        background-color: #fff6a7;
      }
      &:nth-child(4) {
        background-color: #ededed;
      }
    }
  }
  // ---------------------------------------------
  .video-fashion {
    &__inner {
      display: block;
    }
    &__popup {
      width: 100%;
      background-position: center 30%;
      margin: 0px 0px 30px 0px;
    }
  }
  // ---------------------------------------------
  .products {
    &__items {
      grid-template-columns: 1fr 1fr;
      grid-gap: 20px;
    }
  }
  // ---------------------------------------------
  .contacts {
    &__inner {
      flex-direction: column;
    }
    &__content {
      max-width: none;
      margin: 0px 0px 80px 0px;
    }
    &__title {
      font-size: 40px;
      line-height: 45px;
    }
  }
  // ---------------------------------------------
  .shop-content {
    max-width: none;
    &__inner {
      grid-template-columns: 1fr 1fr;
    }
  }
  // ---------------------------------------------
}

@media (max-width: 700px) {
  .footer {
    &__top {
      justify-content: center;
    }
    &__logo {
      img {
        margin: 0 auto;
      }
    }
    &__social-list {
      justify-content: center;
    }
    & .footer__item {
      text-align: center;
      margin-left: 0;
      max-width: none;
    }
    &__item--address {
      text-align: center;
    }
    &__title {
      display: inline-block;
      margin-bottom: 0;
    }
    &__title--open {
      pointer-events: auto;
      position: relative;
      padding-right: 15px;
      &::after {
        content: "";
        display: block;
        position: absolute;
        top: 10px;
        right: 0;
        border: 5px solid transparent;
        border-top: 7px solid $title;
      }
    }
    &__title--arrow {
      &::after {
        border-top: 5px solid transparent;
        border-bottom: 7px solid $title;
        top: 3px;
      }
    }
    &__list {
      display: none;
      margin-top: 30px;
    }
  }
  // ---------------------------------------------
  .features {
    flex-direction: column;
    &__item + &__item {
      margin-left: 0;
      margin-top: 20px;
    }
    &__item {
      max-width: none;
    }
  }
  .top-categories {
    &__items {
      grid-gap: 10px;
    }
    &__item {
      padding: 20px;
      &:nth-child(2) {
        padding: 20px;
      }
    }
  }
  // ---------------------------------------------
  .products {
    &__heading {
      margin-bottom: 40px;
    }
  }
  .products-item {
    &__img-box {
      margin: 0px 0px 15px 0px;
    }
    &__title {
      margin: 10px 0 5px;
    }
  }
  // ---------------------------------------------
  .promo {
    &__countdown {
      flex-wrap: wrap;
      justify-content: center;
      margin: 0px 0px 40px 0px;
    }
    &__countdown-item {
      margin: 0 40px 20px;
    }
  }
  // ---------------------------------------------
  .blog {
    &__row {
      flex-wrap: wrap;
      justify-content: center;
    }
    &__item-wrapper {
      flex: 0 1 50%;
      margin: 0px 0px 20px 0px;
      &:last-child {
        margin: 0;
        flex: 0 1 auto;
      }
    }
  }
  // ---------------------------------------------
  .blog-item {
    &__title-box {
      padding: 15px 10px;
    }
  }
  // ---------------------------------------------
  .reviews-comment {
    &__top {
      justify-content: space-between;
    }
    &__date {
      &::before {
        content: none;
      }
    }
  }
  // ---------------------------------------------
  .reviews-form {
    &__rating-label {
      margin: 0px 13px 0px 0px;
    }
  }
  .product-tabs {
    &__top {
      display: flex;
      justify-content: space-around;
    }
    &__top-item {
      margin: 0 5px;
      &:last-child {
        margin: 0 5px;
      }
    }
  }
}

@media (max-width: 600px) {
  .shop-content {
    &__filter-view {
      display: none;
    }
    &__inner {
      grid-template-columns: 1fr;
    }
    .products-item__img-box {
      padding: 0px 0px 65% 0px;
    }
  }
  // ---------------------------------------------
  .product-slider {
    &__big-item {
      padding: 0px 0px 450px 0px;
    }
  }
  // ---------------------------------------------
}

@media (max-width: 550px) {
  .menu {
    &__list {
      width: 100%;
    }
  }
  // ---------------------------------------------
  .footer {
    &__bottom {
      flex-wrap: wrap;
      justify-content: center;
    }
    &__copy {
      width: 100%;
      text-align: center;
    }
  }
  .main-silder {
    &__title {
      font-size: 40px;
      line-height: 43px;
    }
  }
  // ---------------------------------------------
  .heading {
    &__title {
      font-size: 32px;
    }
  }
  .categories {
    padding: 120px 0;
    background: url(../images/decor/categories-left-bg.svg) center center no-repeat;
  }
  .top-categories {
    &__items {
      display: block;
    }
    &__item {
      margin-bottom: 10px;
      &:last-child {
        margin: 0;
      }
    }
  }
  // ---------------------------------------------
  .video-fashion {
    &__title {
      font-size: 32px;
    }
    &__popup {
      height: 260px;
    }
    &__play-btn {
      width: 80px;
      height: 80px;
    }
  }
  // ---------------------------------------------
  .products {
    &__items {
      grid-template-columns: 1fr;
      grid-gap: 20px;
    }
  }
  .products-item {
    max-width: none;
    &__img-box {
      max-width: none;
    }
  }
  // ---------------------------------------------
  .promo {
    &__title {
      font-size: 32px;
    }
  }
  // ---------------------------------------------
  .partners {
    padding: 80px 0 0;
    &__list {
      justify-content: center;
      flex-wrap: wrap;
      height: auto;
    }
    &__item {
      margin: 10px 0;
      flex: 0 1 33.33%;
      img {
        margin: 0 auto;
      }
    }
  }
  // ---------------------------------------------
  .blog {
    padding: 70px 0 80px;
    &__item-wrapper {
      flex: 0 1 auto;
    }
  }
  // ---------------------------------------------
  .page-404 {
    padding: 80px 0;
  }
  // ---------------------------------------------
  .blog-one {
    &__text {
      blockquote {
        padding: 0 10px;
      }
    }
    &__text,
    &__link-row {
      padding: 15px 10px;
    }
    &__author-photo {
      display: none;
    }
    &__author-name {
      text-align: center;
      font-size: 20px;
    }
    &__comments-title {
      font-size: 22px;
    }
  }
  .reviews-comment {
    &__img {
      width: 50px;
      height: 50px;
      margin-right: 15px;
    }
  }
  .reviews-form {
    &__input-row {
      flex-direction: column;
    }
    &__input + &__input {
      margin: 30px 0px 0px 0px;
    }
  }
  // ---------------------------------------------
  .contacts {
    &__title {
      font-size: 30px;
      line-height: 35px;
    }
    &__form {
      padding: 40px 15px;
    }
  }
  // ---------------------------------------------
  .reviews-form {
    &__rating {
      display: block;
    }
    &__rating-title {
      margin: 0;
    }
    &__rating-label {
      width: 100%;
    }
  }
  .product-tabs {
    &__top {
      display: block;
    }
    &__top-item {
      display: block;
      margin: 0px 5px 15px;
    }
  }
  .related {
    &__title {
      font-size: 32px;
    }
    &__row {
      grid-template: 1fr / 1fr;
    }
  }
}

@media (max-width: 450px) {
  .header {
    &__inner {
      flex-wrap: wrap;
    }
  }
  .user-nav {
    padding-top: 20px;
    width: 100%;
    justify-content: flex-end;
  }
  // ---------------------------------------------
  .subscribe-newsletter {
    &__form {
      flex-direction: column;
    }
    &__btn {
      min-width: 100%;
      margin: 10px 0px 0px 0px;
    }
  }
  // ---------------------------------------------
  .categories,
  // ---------------------------------------------
  .video-fashion,
  // ---------------------------------------------
  .products {
    padding: 80px 0;
  }
  // ---------------------------------------------
  .promo {
    &__inner {
      padding: 80px 0;
    }
    &__countdown {
      flex-wrap: wrap;
      justify-content: center;
      margin: 0px 0px 40px 0px;
    }
    &__countdown-item {
      margin: 0 8px 15px;
    }
  }
  // ---------------------------------------------
  .partners {
    &__item {
      flex: 0 1 50%;
    }
  }
  // ---------------------------------------------
  .blog-page {
    padding: 80px 0;
    .blog-info {
      display: block;
      &__date {
        margin: 5px 0px 0px 0px;
      }
    }
    .filter-search {
      padding: 17px 13px;
    }
  }
  // ---------------------------------------------
  .blog-one {
    &__info-item {
      &:last-child {
        margin-right: 100px;
      }
    }
    &__link-row {
      flex-direction: column;
    }
  }
  // ---------------------------------------------
  .map {
    padding: 80px 0;
  }
  .contacts {
    padding-bottom: 80px;
    &__item {
      align-items: center;
    }
    &__decor-box {
      width: 45px;
      height: 45px;
      margin-right: 10px;
    }
    &__form-input {
      padding: 15px;
      margin: 0px 0px 20px 0px;
    }
    &__form-btn {
      max-width: none;
    }
  }
  // ---------------------------------------------
  .filters {
    &__item {
      padding: 20px 15px 25px;
    }
  }
  .shop-content {
    &__filter {
      padding: 15px;
      .jq-selectbox__select {
        padding: 0px 15px 0px 0px;
      }
    }
    .products-item__img-box {
      padding: 0px 0px 100% 0px;
    }
  }
  .pagination {
    &__btn {
      display: none;
    }
    &__item + &__item {
      margin: 0;
    }
    &__item {
      &:nth-child(4) {
        .pagination__link {
          width: 20px;
        }
      }
    }
    &__link {
      width: 50px;
      height: 50px;
      display: block;
      text-align: center;
      line-height: 50px;
    }
  }
  // ---------------------------------------------
  .product-page {
    padding: 80px 0 5px;
  }
  .product-item {
    &__size-label + &__size-label {
      margin: 0px;
    }
    &__btn {
      margin: 0;
      max-width: 154px;
    }
  }
  .product-slider {
    &__big-item {
      padding: 0px 0px 320px 0px;
    }
  }
  .reviews-comment {
    &__name {
      margin: 0px 5px 0px 0px;
    }
    &__date {
      display: none;
    }
  }
}
