@import "reset";
@import "fonts";
@import "libs";
@import "vars";
@import "global";

// ---------------------------------------------------------------------------------------------

.header {
  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 0;
  }
}

.menu {
  &__list {
    display: flex;
  }
  &__item + &__item {
    margin: 0px 0px 0px 35px;
  }
  &__link {
    @extend %r-400;
    font-size: 16px;
    line-height: 1;
    padding: 0 3px 9px;
    border-bottom: 1px solid transparent;
    text-transform: uppercase;
    color: $title;
    transition: all 0.3s;
    &:hover {
      @extend %r-700;
      color: $accent;
      border-bottom: 1px solid $accent;
    }
  }
}
.user-nav {
  display: flex;
  &__item + &__item {
    margin: 0px 0px 0px 25px;
  }
  &__link {
    display: block;
    position: relative;
    span {
      display: block;
      position: absolute;
      top: 1px;
      right: -2px;
      transform: translate(50%, -50%);
      background-color: $accent;
      height: 20px;
      width: 20px;
      text-align: center;
      color: #fff;
      @extend %qs-500;
      font-size: 12px;
      line-height: 20px;
      border-radius: 50%;
    }
  }
}

// =============================================================================================
// =============================================================================================

.top {
  &__container {
    max-width: 1700px;
    margin: 0 auto;
    padding: 130px 135px;
  }
  &__title {
    @extend %r-400;
    color: $title;
    font-size: 48px;
    line-height: 1;
    text-transform: uppercase;
    text-align: center;
    margin: 0px 0px 20px 0px;
  }
}

.breadcrumbs {
  display: flex;
  justify-content: center;
  &__list {
    display: flex;
    position: relative;
    padding: 0px 0px 0px 25px;
    &::before {
      content: "";
      position: absolute;
      top: 3px;
      left: 0;
      width: 16px;
      height: 16px;
      background-image: url(../images/icons/home-icon.svg);
    }
  }
  &__item {
    color: #727272;
    margin: 0px 40px 0px 0px;
    position: relative;
    &::after {
      content: "";
      position: absolute;
      top: 9px;
      right: -25px;
      width: 9px;
      height: 10px;
      background-image: url(../images/icons/angle-right.svg);
    }
    &:last-child {
      color: $accent;
      margin: 0;
      &::after {
        content: none;
      }
    }
  }
  &__link {
    color: inherit;
  }
}

// =============================================================================================
// =============================================================================================

.footer {
  background-color: $bg;
  a {
    color: inherit;
  }
  &__top {
    display: flex;
    justify-content: space-between;
    padding: 75px 0 40px;
    border-bottom: 1px solid #ececec;
  }
  &__item + &__item {
    margin: 0px 0px 0px 30px;
  }
  &__item--address {
    max-width: 250px;
    width: 100%;
  }
  &__item--useful,
  &__item--account {
    max-width: 170px;
    width: 100%;
  }
  &__logo {
    display: block;
    margin: 0px 0px 30px 0px;
  }
  &__address,
  &__email {
    display: block;
    font-style: normal;
    margin: 0px 0px 10px 0px;
  }
  &__email,
  &__tel {
    transition: all 0.3s;
    &:hover {
      color: $accent;
    }
  }
  &__tel {
    display: block;
    margin: 0px 0px 37px 0px;
  }
  &__social-list {
    display: flex;
  }
  &__social-item + &__social-item {
    margin: 0px 0px 0px 20px;
  }
  &__social-link {
    fill: $default;
    transition: all 0.3s;
    &:hover {
      fill: $accent;
    }
  }
  &__title {
    @extend %r-500;
    color: $title;
    font-size: 22px;
    margin: 0px 0px 33px 0px;
  }
  &__list-item {
    margin: 0px 0px 10px 0px;
  }
  &__list-link {
    transition: all 0.3s;
    &:hover {
      color: $accent;
    }
  }
  &__bottom {
    display: flex;
    justify-content: space-between;
    padding: 30px 0;
    font-size: 12px;
  }
  &__accept-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__accept-item + &__accept-item {
    margin: 0px 0px 0px 20px;
  }
}

.subscribe-newsletter {
  max-width: 470px;
  width: 100%;
  &__title {
    @extend %r-500;
    color: $title;
    font-size: 22px;
    margin: 0px 0px 33px 0px;
  }
  &__text {
    margin: 0px 0px 30px 0px;
  }
  &__form {
    display: flex;
    width: 100%;
  }
  &__input {
    display: block;
    border: 0;
    margin: 0;
    padding: 12px 10px 12px 15px;
    flex-grow: 1;
    box-shadow: 0px 7px 20px 0px rgba(192, 192, 192, 0.3);
    &::placeholder {
      color: $default;
    }
  }
  &__btn {
    border: 0;
    cursor: pointer;
    max-width: 140px;
    width: 100%;
    margin: 0 0 0 10px;
    text-align: center;
  }
}

// =============================================================================================
// =============================================================================================

.main-silder {
  background: url("../images/slider-bg.png") 53% 42% no-repeat, $bg;
  &__container {
    max-width: 1540px;
  }
  &__inner {
    padding: 60px 0 40px;
  }
  &__item {
    display: flex !important;
    justify-content: space-between;
  }
  &__content {
    padding: 120px 0px 0px 170px;
  }
  &__title {
    @extend %r-700;
    font-size: 58px;
    line-height: 68px;
    color: $title;
    max-width: 570px;
    margin: 0px 0px 20px 0px;
  }
  &__text {
    max-width: 470px;
    margin: 0px 0px 55px 0px;
  }
  .slick-dots {
    display: flex;
    justify-content: center;
    margin: -74px 0 0 0;
    li + li {
      margin: 0px 0px 0px 5px;
    }
    li {
      button {
        font-size: 0;
        padding: 0;
        background-color: transparent;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        border: 1px solid transparent;
        cursor: pointer;
        position: relative;
        transition: all 0.3s;
        &::after {
          content: "";
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          background-color: $accent;
          width: 6px;
          height: 6px;
          border-radius: 50%;
        }
      }
    }
    .slick-active {
      button {
        border: 1px solid $accent;
      }
    }
  }
}

// =============================================================================================
// =============================================================================================

.categories {
  padding: 120px 0;
  background: url(../images/decor/categories-left-bg.svg) center left no-repeat,
    url(../images/decor/categories-right-bg.svg) center right no-repeat;
}

.features {
  display: flex;
  justify-content: space-between;
  position: relative;
  margin: 0px 0px 120px 0px;
  &::before,
  &::after {
    content: "";
    position: absolute;
    z-index: -1;
  }
  &::before {
    background: url(../images/decor/features-1.svg);
    top: -40px;
    left: -43px;
    width: 120px;
    height: 121px;
  }
  &::after {
    background: url(../images/decor/features-2.svg);
    bottom: -23px;
    right: -23px;
    width: 65px;
    height: 52px;
  }
  &__item {
    padding: 60px 40px;
    background-color: #fff;
    max-width: 370px;
    box-shadow: 20px 0px 60px 0px rgba(202, 202, 202, 0.35);
    svg {
      margin: 0px 0px 35px 0px;
    }
  }
  &__title {
    @extend %r-400;
    color: $title;
    font-size: 22px;
    margin: 0px 0px 15px 0px;
  }
}

.top-categories {
  &__heading {
    margin-bottom: 60px;
  }
  &__items {
    min-height: 635px;
    display: grid;
    grid-template: repeat(2, 1fr) / repeat(3, 1fr);
    grid-gap: 30px;
  }
  &__item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 40px 40px;
    &:nth-child(1) {
      grid-row: 1 / 3;
      .top-categories__item-subtitle {
        color: #5800e4;
      }
      .top-categories__item-link {
        &:hover {
          color: #5800e4;
          border-bottom: 1px solid #5800e4;
        }
      }
    }
    &:nth-child(2) {
      grid-column: 2 / 4;
      padding-top: 0;
      justify-content: center;
      .top-categories__item-subtitle {
        color: $accent;
      }
      .top-categories__item-link {
        &:hover {
          color: $accent;
          border-bottom: 1px solid $accent;
        }
      }
    }
    &:nth-child(3) {
      .top-categories__item-subtitle {
        color: #ffb534;
      }
      .top-categories__item-link {
        &:hover {
          color: #ffb534;
          border-bottom: 1px solid #ffb534;
        }
      }
    }
    &:nth-child(4) {
      .top-categories__item-subtitle {
        color: #34c3ff;
      }
      .top-categories__item-link {
        &:hover {
          color: #34c3ff;
          border-bottom: 1px solid #34c3ff;
        }
      }
    }
  }
  &__item-subtitle {
    line-height: 1;
    margin: 0px 0px 12px 0px;
  }
  &__item-title {
    @extend %r-500;
    color: $title;
    font-size: 22px;
    margin: 0px 0px 13px 0px;
  }
  &__item-link {
    display: inline-block;
    @extend %r-400;
    color: $title;
    line-height: 1;
    text-transform: uppercase;
    border-bottom: 1px solid transparent;
    transition: all 0.3s;
    padding: 0px 0px 6px 0px;
  }
}

// =============================================================================================
// =============================================================================================

.video-fashion {
  padding: 120px 0;
  background: url(../images/pattern-bg.svg), $bg;
  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__popup {
    width: 535px;
    height: 479px;
    flex: 1 0 auto;
    margin: 0px 65px 0px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__play-btn {
    display: block;
    background: url(../images/play-btn.svg);
    width: 130px;
    height: 130px;
  }
  &__subtitle {
    font-size: 22px;
    color: $accent;
    text-transform: uppercase;
    margin: 0px 0px 15px 0px;
  }
  &__title {
    @extend %r-700;
    color: $title;
    text-transform: uppercase;
    font-size: 48px;
    line-height: 1;
    margin: 0px 0px 25px 0px;
  }
  &__text {
    margin: 0px 0px 55px 0px;
  }
}

// =============================================================================================
// =============================================================================================

.products {
  padding: 115px 0 120px;
  &__heading {
    margin-bottom: 60px;
  }
  &__items {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 45px 20px;
    margin: 0px 0px 60px 0px;
  }
  &__btn {
    color: $title;
    @extend %r-400;
    display: block;
    margin: 0 auto;
    width: 170px;
    text-transform: uppercase;
    border: 1px solid $accent;
    height: 50px;
    text-align: center;
    line-height: 50px;
  }
}

.products-item {
  max-width: 370px;
  &--sale {
    .products-item__img-box {
      position: relative;
      &::before {
        content: "sale";
        position: absolute;
        top: 25px;
        left: 25px;
        color: #fff;
        background-color: $accent;
        line-height: 30px;
        @extend %r-400;
        text-transform: uppercase;
        text-align: center;
        width: 60px;
        height: 30px;
        box-shadow: 0px 7px 20px 0px rgba(255, 17, 48, 0.3);
        z-index: 1;
      }
    }
  }
  &__img-box {
    position: relative;
    height: 370px;
    overflow: hidden;
    margin: 0px 0px 30px 0px;
    &:hover {
      .products-item__controls {
        bottom: 50px;
      }
    }
  }
  &__img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
  &__controls {
    position: absolute;
    bottom: -45%;
    left: 50%;
    transform: translateX(-50%);
    background-color: #fff;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 212px;
    height: 50px;
    border-radius: 25px;
    transition: all 0.3s;
    &::before,
    &::after {
      content: "";
      position: absolute;
      top: 50%;
      background-color: #ececec;
      height: 30px;
      width: 1px;
    }
    &::before {
      left: 33.33%;
      transform: translate(-50%, -50%);
    }
    &::after {
      right: 33.33%;
      transform: translate(50%, -50%);
    }
  }
  &__control {
    display: block;
    line-height: 0;
    padding: 13px 13px;
    path {
      transition: all 0.3s;
    }
    &:hover {
      path {
        fill: $accent;
      }
    }
  }
  &__title-box {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__title {
    font-size: 22px;
    @extend %r-400;
    color: $title;
    margin: 0px 0px 15px 0px;
  }
  &__price {
    display: flex;
    color: $title;
  }
  &__actual {
    @extend %r-500;
    margin: 0px 23px 0px 0px;
  }
  &__old {
    @extend %r-400;
    color: #ccccce;
    text-decoration: line-through;
  }
}

.stars {
  margin: 0px 0px 15px 0px;
}

// =============================================================================================
// =============================================================================================

.promo {
  background: url(../images/promo-bg.jpg) center left / cover no-repeat;
  &__inner {
    padding: 150px 0 160px;
    max-width: 570px;
    width: 100%;
    margin: 0px 0px 0px auto;
    text-align: center;
  }
  &__subtitle {
    font-size: 22px;
    color: $accent;
    text-transform: uppercase;
    margin: 0px 0px 20px 0px;
  }
  &__title {
    @extend %r-700;
    color: $title;
    text-transform: uppercase;
    font-size: 48px;
    line-height: 1;
    margin: 0px 0px 55px 0px;
  }
  &__countdown {
    display: flex;
    justify-content: space-between;
    margin: 0px 0px 60px 0px;
  }
  &__countdown-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    box-shadow: 0px 10px 40px 0px rgba(187, 187, 187, 0.3);
  }
  &__days,
  &__hours,
  &__minutes,
  &__seconds {
    @extend %r-700;
    color: $title;
    font-size: 48px;
    line-height: 1;
  }
  &__btn {
    color: $title;
    @extend %r-400;
    display: block;
    margin: 0 auto;
    width: 170px;
    text-transform: uppercase;
    border: 1px solid $accent;
    height: 50px;
    text-align: center;
    line-height: 50px;
  }
}

.partners {
  padding: 100px 0 0;
  &__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
  }
}

// =============================================================================================
// =============================================================================================

.blog {
  padding: 95px 0 165px;
  background: url(../images/blog-bg.svg) center 81% no-repeat;
  &__heading {
    margin-bottom: 55px;
  }
  &__row {
    display: flex;
    justify-content: space-between;
    margin: 0 -5px;
    position: relative;
    &::after {
      content: "";
      position: absolute;
      top: -29px;
      right: -20px;
      width: 126px;
      height: 53px;
      background-image: url(../images/decor/blog-decor.svg);
      z-index: -1;
    }
  }
  &__item-wrapper {
    padding: 0 5px;
    max-width: 380px;
  }
  &__item {
    border: 1px solid #ececec;
    transition: box-shadow .3s;
    &:hover {
      border: 0px solid #ececec;
      box-shadow: 20px 0px 60px 0px rgba(202, 202, 202, 0.35);
      .blog__link {
        color: $accent;
        &::after {
          background-image: url("../images/icons/arrow-accent.svg");
        }
      }
    }
  }
  &__img {
    display: block;
  }
  &__title-box {
    a {
      color: $default;
    }
    padding: 30px 40px;
  }
  &__info {
    display: flex;
    justify-content: space-between;
    margin: 0px 0px 15px 0px;
  }
  &__date,
  &__author {
    padding-left: 30px;
    position: relative;
    &::before {
      content: "";
      position: absolute;
      top: 4px;
      left: 0;
      width: 20px;
      height: 20px;
    }
  }
  &__author::before {
    background-image: url(../images/icons/user-icon-gray.svg);
  }
  &__date::before {
    background-image: url(../images/icons/clock.svg);
  }
  &__title {
    @extend %r-400;
    font-size: 22px;
    line-height: 32px;
    text-transform: capitalize;
    color: $title;
    margin: 0px 0px 10px 0px;
  }
  &__link {
    position: relative;
    transition: all .3s;
    &::after {
      content: "";
      position: absolute;
      bottom: 5px;
      right: -15px;
      width: 10px;
      height: 8px;
      background-image: url("../images/icons/arrow.svg");
    }
  }
}

// =============================================================================================
// =============================================================================================

.modal {
  padding: 115px 0;
  &__links {
    display: flex;
    justify-content: center;
    margin: 0px 0px 50px 0px;
  }
  &__link {
    display: block;
    font-size: 22px;
    line-height: 1;
    color: #909090;
    text-transform: uppercase;
    margin: 0 30px;
  }
  &__link--inactive {
    @extend %r-400;
  }
  &__link--active {
    @extend %r-700;
    color: $accent;
  }
  &__form {
    max-width: 570px;
    width: 100%;
    margin: 0 auto;
  }
  &__text {
    margin: 0px 0px 30px 0px;
    &:nth-child(3) {
      margin-top: -25px;
    }
  }
  &__label {
    display: block;
    margin: 0px 0px 30px 0px;
    &:nth-child(2) {
      margin: 0px 0px 55px 0px;
    }
    &:nth-child(3) {
      display: inline-block;
      margin: 0px 0px 15px 0px;
    }
    &:nth-child(5) {
      display: inline-block;
      margin: 0px 0px 15px 0px;
    }
  }
  &__input {
    border: none;
    display: block;
    width: 100%;
    background-color: $bg;
    height: 60px;
    margin: 10px 0px 0px 0px;
    padding: 15px;
  }
  &__form-btn {
    border: none;
    display: block;
    width: 100%;
    @extend %r-400;
    background-color: $title;
    text-transform: uppercase;
    color: #fff;
    padding: 20px;
    margin: 0px 0px 15px 0px;
    letter-spacing: 4px;
  }
  &__lost-pass {
    color: $accent;
  }
}

// =============================================================================================
// =============================================================================================

.page-404 {
  padding: 115px 0 120px;
  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__content {
    max-width: 570px;
    width: 100%;
  }
  &__title {
    @extend %r-700;
    color: #28384f;
    font-size: 48px;
    line-height: 1;
    margin: 0px 0px 30px 0px;
  }
  &__text {
    max-width: 470px;
    margin: 0px 0px 50px 0px;
  }
  &__btn {
    max-width: 180px;
    width: 100%;
  }
  &__img {
  }
}



// ---------------------------------------------------------------------------------------------

@import "media";
